@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

:root {
  --primary-color: #022840;
  --primary-color-rgb: 2, 40, 64;
  --secondary-color: #6264A0;
  --secondary-color-rgb: 98, 100, 160;
  --logo-color: #050D2D;
  --comment-color: #353DCC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
