@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

:root {
  --primary-color: #022840;
  --secondary-color: #6264A0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
